.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 20px;
}

.buttons {
  border-radius: 6px;
  margin: 4px;
  padding: 4px;
}